<section class="articles">
  <% page_articles.each do |article| %>
    <%= partial "layouts/blog/snippet", :locals => { :article => article } %>
  <% end %>
  <div class="pagination">
    <%= link_to "Older", next_page, :class => "older"  if next_page.present? %>
    <%= link_to "Newer", prev_page, :class => "newer" if prev_page.present? %>
  </div>
</section>
