<div class="index-article blog-post-content">
  <h1 class="article-header">
    <%= link_to article.title, article.url %>
  </h1>
  <p class="article-published-on"><%= article.date.strftime("%d %b %Y") %></p>
  <div class="article-snippet">
    <%= article.summary %>
    <p><%= link_to "Continue Reading &rarr;", article %></p>
  </div>
</div>
