<div class="index-article">
  <h2 class="article-header">
    <%= link_to article.title, article.url, :class => "blue-link" %>
  </h2>
  <p class="article-published-on"><%= article.date.strftime("%d %b %Y") %></p>
  <div class="article-snippet">
    <%= article.summary %>
    <p><%= link_to "Continue Reading &rarr;", article, :class => "blue-link" %></p>
  </div>
</div>
