.prev-post {
  float: left;
}

.next-post {
  float: right;
}

.articles {
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 3em;
}

.article-header {
  margin: 0;
  font-weight: 400;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: $blue2;
    text-decoration: none;
  }
}

.article-published-on {
  margin-top: 0;
  color: $grey3;
  font-style: italic;
}

.index-article {
  padding: 0.5em;
  margin: 0.2em;
  background-color: white;
}

.blog-post {
  clear: both;
}

.blog-post-container {
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  padding: .5em;
}

.blog-post-header {
  margin-bottom: 0.5em;

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
  }
}

.blog-post-content {
  h2 {
    color: $blue1;
    font-weight: 200;
  }
  h3 {
    font-weight: 200;
    font-size: 1.5em;
    margin-left: .5em;
  }
  p {
    text-align: justify;
  }
}

.blog-post-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maths {
  text-align: center;
}

@media (max-width: 800px) {
  .articles {
    width: 100%;
  }

  .prev-post {
    width: 100%;
    margin-bottom: 0;
  }

  .next-post {
    float: left;
  }

  .blog-post-container {
    width: 100%;
    padding: 0;
  }
}
