.blog-post-navigation {
  background-color: red;
  p {
    display: inline-block;
  }
}

.next-post {
  float: right;
}

.articles {
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 3em;
}

.article-header {
  margin-bottom: 0;
  font-weight: 400;

  a {
    color: #428bca;
    text-decoration: none;
  }

  a:hover {
    color: #2a6496;
    text-decoration: underline;
  }
}

.article-published-on {
  margin-top: 0;
  color: gray;
  font-style: italic;
}

.article-snippet {

}

.index-article {
  padding: 0.5em;
  margin: 0.2em;
  background-color: white;
}

@media (max-width: 800px) {
  .articles {
    width: 100%;
  }
}
