<% wrap_layout :layout do %>
  <nav>
    <h1 id="home-link"><a href="/">Andy Stabler</a></h1>
    <h1 id="home-link-mobile"><a href="/"><i class="fa fa-home"></i></a></h1>
    <%= partial "layouts/section_header" %>
  </nav>
  <section class="content">
    <%= yield %>
  </section>
  <footer>
    <%= yield_content :footer %>
  </footer>
<% end %>
