<section class="header">
  <% link_to "/" do %>
    <%= image_tag "icons/andy_icon_3_small.JPG", width: "128px", height: "128px", class: "bio-pic--small" %>
  <% end %>
  <ul class="nav">
    <li><%= link_to "Blog", "/" %></li>
    <li><%= link_to "About", "/about.html" %></li>
  </ul>
</section>
