<nav class="social-links">
  <ul>
    <li>
      <% link_to "https://github.com/AndyStabler" do %>
        <i class="fab fa-github"></i>
      <% end %>
    </li>
    <li>
      <% link_to "https://twitter.com/andy_stabler" do %>
        <i class="fab fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <% link_to "https://mastodon.social/@andystabler", rel: "me" do %>
        <i class="fab fa-mastodon"></i>
      <% end %>
    </li>
    <li>
      <% link_to "mailto:sdolta@gmail.com?Subject=Hey!", target: "_blank" do %>
        <i class="far fa-envelope"></i>
      <% end %>
    </li>
  </ul>
</nav>
