---
title: WordFun
ignore_main_styles: true
---
<% content_for :css do %>
  <%= stylesheet_link_tag "wordfun" %>
<% end %>

<% content_for :footer_js do %>
  <%= javascript_include_tag "wordfun/wordfun" %>
  <%= javascript_include_tag "wordfun/main" %>
<% end %>

<div id="details">
  <input type="text" id="word-fun-input" placeholder="Start typing...">
  <button id="word-fun-auto">Start Display</button>
  <p><a href="/">Andy Stabler</a></p>
</div>
<canvas id="word-fun-canvas">Canvas not supported</canvas>
