---
title: WordFun
ignore_main_styles: true
---
<% content_for :css do %>
  <%= stylesheet_link_tag "wordfun" %>
<% end %>

<% content_for :js do %>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='84778236-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
<% end %>

<% content_for :footer_js do %>
  <%= javascript_include_tag "wordfun/wordfun" %>
  <%= javascript_include_tag "wordfun/main" %>
<% end %>

<div id="details">
  <input type="text" id="word-fun-input" placeholder="Start typing...">
  <button id="word-fun-auto">Start Display</button>
  <p><a href="/">Andy Stabler</a></p>
</div>
<canvas id="word-fun-canvas">Canvas not supported</canvas>
