---
title: "Andy Stabler"
---
<section class="bio"%>
  <%= image_tag "me.png", class: "bio-pic bio-pic--large", width: "300", height: "300" %>
  <section class="bio-text">
    <p>
    Hello, I'm Andy Stabler and I'm a Ruby on Rails engineer living in Edinburgh with my wife <a href="https://fionastabler.co.uk">Fiona</a> and our dog Rolo.
    </p>
    <p>
      I'm currently open to new fully remote contracts so please get in touch if you'd like to work together. 🙂
    </p>
    <p>
      I'm also an engineering mentor. I have limited slots available, but please get in touch if you would like advice
    or help in progressing your career in software engineering.
    </p>
    <nav class="social-links">
      <ul>
        <li>
          <% link_to "https://github.com/AndyStabler", class: "github" do %>
            <i class="fab fa-github"></i>
          <% end %>
        </li>
        <li>
          <% link_to "https://twitter.com/andy_stabler", class: "twitter" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
        </li>
        <li>
          <% link_to "mailto:sdolta@gmail.com?Subject=Hey!", class: "email", target: "_blank" do %>
            <i class="far fa-envelope"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </section>
</section>
