---
title: Welcome to my website
---
<div class="layer"></div>
<div class="index-info">
  <h1><a href="/">Andy Stabler</a></h1>
  <p>I'm a software engineer by day, and a cake eating, book reading, lazy person by night.</p>
  <ul class="social">
    <li>
      <a class="github" href="//github.com/AndyStabler">GitHub</a>
    </li>
    <li>
      <a class="twitter" href="//twitter.com/andy_stabler">Twitter</a>
    </li>
    <li>
      <a class="email" href="mailto:andystabler.co.uk">Email</a>
    </li>
  </ul>
</div>
